body,
h3,
p,
ul,
li,
figure,
figcaption,
div {
  line-height: 1.6;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex-wrap: wrap;
}

body {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* Para tornar o fundo fixo */
  height: 100vh;
  /* Definir a altura para cobrir toda a tela */
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.corpodedentro {
  background-color: #f5f5f5;
  z-index: 999;
  transition: width 0.3s ease; /* Adiciona uma transição suave */
}

/* Exemplo de personalização básica */
::-webkit-scrollbar {
  width: 10px;
  /* largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #949494;
  /* cor do 'thumb' (a parte que você arrasta) */
  border-radius: 5px;
  /* borda arredondada */
}

::-webkit-scrollbar-track {
  background-color: #d3d3d3;
  /* cor do fundo da barra de rolagem */
}


#coisas {
  width: 100%;
  height: 120%;
  position: relative;
  overflow: hidden;
  margin-bottom: -5rem;

}

/* Estilos do cabeçalho (header) */
header {
  display: flex;
  background-color: #c1c1c100;
  position: fixed;
  top: 0;
  right: 0;
  right: 0;
  z-index: 5;
  width: 81.7%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 6rem;
  height: 2.5rem;
  margin-top: 2rem;
  margin-left: 3rem;
}

.logo-container {
  display: flex;
  max-width: 100%;
  width: 100%;
  height: 7rem;

  background-color: #151515;
}

ul {
  list-style: none;
  display: flex;
}

.menu-button {
  background-color: #00000000;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.menu-icon {
  font-size: 2em;
  color: rgb(1, 1, 1);
}


ul li {
  margin-right: 2vw;
}

a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 0.7rem;
  color: #2c2c2c;
  font-size: 1rem;
  background: #3b3b3b00;
  border: solid #3d3d3d30 0.08em;
  border-radius: 0.9rem;
  backdrop-filter: blur(10px);
}


.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode-toggle label {
  margin-right: 1rem;
  display: block;
  width: 2.7em;
  /* Tamanho relativo para melhor responsividade */
  height: 1.5em;
  /* Tamanho relativo para melhor responsividade */
  background-color: #ddd;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;

}

.dark-mode-toggle label:after {
  content: "";
  display: block;
  width: 1.2em;
  /* Tamanho relativo para melhor responsividade */
  height: 1.2em;
  /* Tamanho relativo para melhor responsividade */
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.dark-mode-toggle input[type="checkbox"]:checked+label {
  background-color: #6eec07;
  box-shadow: 0 0 30px 20px #6eec074f;
}

.dark-mode-toggle input[type="checkbox"]:checked+label:after {
  transform: translateX(100%);
  /* Usando uma porcentagem para garantir uma transição completa */
}

.corpo-maior {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
}


/* Estilos para o menu lateral */
aside {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  /* largura ajustável conforme necessário */
  background-color: #dadada;
  /* cor de fundo */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.ul-lateral {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  margin-left: 0rem;
  width: 100%;
}



.alateral:hover {
  background-color: rgb(33, 33, 33);
  width: 100%;

}

.li-lateral {
  padding: 5px 20px;
  width: 100%;
}


@media screen and (max-width: 376px) {

  body,
  html {
    height: 120%;
    margin-top: -15rem;
  }

  #coisas {
    margin-bottom: -26rem;
  }

  .menu {
    flex-wrap: wrap;
  }

  #expandir {
    width: 150%;
  }


  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 0.8rem;
    flex-wrap: wrap;
  }

  a {
    font-size: 1rem;
  }


}
@media screen and (min-width: 1000px) and (max-width: 1340px) {
  ul {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 7rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1.8rem;
    border-radius: 0.9rem;
    backdrop-filter: blur(10px);
  }

  header {
    width: 85%;
  }

  aside {
    width: 22%;
  }

  .li-lateral {
    width: 100%;
  }

  a.alateral {
    width: 100%;
  }

  .card {
    width: 22rem;
    height: 15rem;
    border-radius: 2rem;
    font-size: 250%;
    line-height: 1.2;
  }

  .card p {
    font-size: 60%;
  }

  .botãoprodutos {
    width: 100%;
    height: 150%;
    font-size: 250%;
  }

  .produto {
    width: 100%;
    height: 23%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .imglist {
    width: 11rem;
  }

  .nomeproduto {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    height: 50%;
  }

  .produto p {
    height: 70%;
    font-size: 2rem;
    align-items: center;
  }

 .delete-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 .edit-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 div.buttons {
  height: 100%;
 }

 .lista-produtos.expandido {
  max-height: 100%;
  margin-top: 4rem;
 }

 .infoprod {
  margin-left: 1rem;
 }
}

@media screen and (min-width: 1340px) and (max-width: 1600px) {

aside {
  width: 20%;
}
}


@media screen and (min-width: 1340px) and (max-width: 1812px) {
  ul {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 7rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 1.8rem;
    border-radius: 0.9rem;
    backdrop-filter: blur(10px);
  }

  header {
    width: 85%;
  }

  aside {
    width: 19%;
  }

  .li-lateral {
    width: 100%;
  }

  a.alateral {
    width: 100%;
  }

  .card {
    width: 22rem;
    height: 15rem;
    border-radius: 2rem;
    font-size: 250%;
    line-height: 1.2;
  }

  .card p {
    font-size: 60%;
  }

  .botãoprodutos {
    width: 100%;
    height: 150%;
    font-size: 250%;
  }

  .produto {
    width: 100%;
    height: 23%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .imglist {
    width: 11rem;
  }

  .nomeproduto {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    height: 50%;
  }

  .produto p {
    height: 70%;
    font-size: 2rem;
    align-items: center;
  }

 .delete-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 .edit-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 div.buttons {
  height: 100%;
 }

 .lista-produtos.expandido {
  max-height: 100%;
  margin-top: 4rem;
 }

 .infoprod {
  margin-left: 1rem;
 }
}


@media screen and (min-width: 1812px) and (max-width: 2020px) {
  ul {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 7rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 2rem;
    border-radius: 0.9rem;
    backdrop-filter: blur(10px);
  }

  header {
    width: 85%;
  }

  aside {
    width: 17%;
  }

  .li-lateral {
    width: 100%;
  }

  a.alateral {
    width: 100%;
  }

  .card {
    width: 25rem;
    height: 17rem;
    border-radius: 2rem;
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .botãoprodutos {
    width: 50rem;
    height: 5rem;
    font-size: 2.8rem;
  }

  .produto {
    width: 90%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .imglist {
    width: 11rem;
  }

  .nomeproduto {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    height: 30%;
  }

  .produto p {
    height: 70%;
    font-size: 2rem;
    align-items: center;
    margin-top: 1rem;
  }

 .delete-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 .edit-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 div.buttons {
  height: 100%;
 }

 .lista-produtos.expandido {
  max-height: 100%;
  margin-top: 1rem;
 }

 .infoprod {
  margin-left: 1rem;
 }
}


@media screen and (min-width: 2020px) and (max-width: 2140px) {


  ul {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 7rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 2rem;
    border-radius: 0.9rem;
    backdrop-filter: blur(10px);
  }

  header {
    width: 85%;
  }

  aside {
    width: 15%;
  }

  .li-lateral {
    width: 100%;
  }

  a.alateral {
    width: 100%;
  }

  .card {
    width: 25rem;
    height: 17rem;
    border-radius: 2rem;
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .botãoprodutos {
    width: 50rem;
    height: 5rem;
    font-size: 2.8rem;
  }

  .produto {
    width: 90%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .imglist {
    width: 11rem;
  }

  .nomeproduto {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    height: 30%;
  }

  .produto p {
    height: 70%;
    font-size: 2rem;
    align-items: center;
    margin-top: 1rem;
  }

 .delete-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 .edit-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 div.buttons {
  height: 100%;
 }

 .lista-produtos.expandido {
  max-height: 100%;
  margin-top: 1rem;
 }

 .infoprod {
  margin-left: 1rem;
 }
}

@media screen and (min-width: 2140px) and (max-width: 2560px) {



  ul {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 7rem;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  a {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 0.7rem;
    font-size: 2rem;
    border-radius: 0.9rem;
    backdrop-filter: blur(10px);
  }

  header {
    width: 85%;
  }

  aside {
    width: 15%;
  }

  .li-lateral {
    width: 100%;
  }

  a.alateral {
    width: 100%;
  }

  .card {
    width: 25rem;
    height: 17rem;
    border-radius: 2rem;
    font-size: 2.8rem;
    line-height: 1.2;
  }

  .botãoprodutos {
    width: 50rem;
    height: 5rem;
    font-size: 2.8rem;
  }

  .produto {
    width: 90%;
  }
  .imglist {
    width: 11rem;
  }

  .nomeproduto {
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
    height: 30%;
  }

  .produto p {
    height: 70%;
    font-size: 2rem;
    align-items: center;
    margin-top: 1rem;
  }

 .delete-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 .edit-button {
  width: 7rem;
  height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 1.2rem;

 }

 div.buttons {
  height: 100%;
 }

 .lista-produtos.expandido {
  max-height: 100%;
  margin-top: 1rem;
 }

}

.modal {
  display: none;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  background-color: rgba(72, 72, 72, 0.433);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botãoprodutos {
  margin-left: 2rem;
  
  border: 1px solid #3939391d;
  backdrop-filter: blur(5px);
  background: #c1c1c184;
  border-radius: 20px;
  color: #363636;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imglist {

  border-radius: 1rem;
}

img {
  width: 6rem;
  border-radius: 1rem;
}

.opcoesProdutos {
  margin-left: 2rem;
  width: 10rem;
}

.abrirprodutos {
  max-width: 100%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-content {

  background: #ffffff84;
  margin: 8% auto;
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  border-radius: 2rem;
}

/* Estilo para lista de produtos */
.lista-produtos {
  transition: max-height 0.5s ease;
  max-height: 0;
  overflow: hidden;
  margin-left: 2rem;
  margin-top: 1rem;
  gap: 1rem;
}

/* Estilo para lista de produtos expandida */
.lista-produtos.expandido {

  /* Ou qualquer outra altura que você deseje */
  margin-left: 2rem;

  gap: 1rem;
}


#formulario {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #ffffff84;
  justify-content: flex-start;
}

.grid-container {
  margin: 6% auto;
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 2fr));
  /* Duas colunas */
  gap: 1rem;
  justify-items: center;
}

#descricao {
  grid-column: span 2;
  /* Ocupa duas colunas no grid */
  width: calc(80% - 2rem);
  /* Largura total do grid menos a lacuna */
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.3rem;
  height: 100px;
  /* Altura específica */
  font-size: 1.7rem;
}


#formulario label {
  margin-bottom: 0.5rem;
}

#formulario input[type="text"],
#formulario input[type="number"],
#formulario textarea {
  font-size: 1.6rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.3rem;
  width: 50rem;
  /* Defina uma largura padrão de 100% */
  height: 3rem;
  border-radius: 1rem;
}

#formulario input[type="text"] {
  width: 80%;
  /* Defina a largura específica para o tipo text */
  border: solid 1px #5353534e;

}

#formulario input[type="number"] {
  width: 80%;
  /* Defina a largura específica para o tipo number */
  height: 3rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  border: solid 1px #5353534e;
}

#formulario textarea {
  height: 100px;
  /* Defina a altura específica para o textarea */
  width: 90%;
  /* Defina a largura para ocupar a largura do container */
  padding: 0;
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-top: 1rem;
  border: solid 1px #5353534e;
}

#formulario input[type="text"]::placeholder,
#formulario input[type="number"]::placeholder {
  text-align: center;
  /* Centraliza o texto do placeholder */
  font-size: 1.7rem;
}

#formulario textarea::placeholder {
  text-align: center;
  /* Centraliza horizontalmente */
  padding-top: calc(10% - 1em);
  /* Ajusta o padding para centralizar verticalmente */
}

#formulario input[type="text"]:hover,
#formulario input[type="number"]:hover,
#formulario textarea:hover {
  border-color: #b0b0b0;
  /* Cor da borda ao passar o mouse */
}

#formulario input[type="text"]:focus,
#formulario input[type="number"]:focus,
#formulario textarea:focus {
  border-color: #007bff;
  /* Cor da borda ao ser selecionado */
  outline: none;
  /* Remove a borda de foco padrão */
}


.enviarform {
  color: #224e00;
  width: 28rem;
  height: 7rem;
  border-radius: 1rem;
  font-size: 2rem;
  background: #84dc3c;
  border: none;
}

/* Estilos para o card */
.card {
  border: none;
  background: #c1c1c184;
  border-radius: 20px;
  padding: 10px;
  margin-left: 7rem;
  cursor: pointer;
 

  padding-left: 2rem;
  color: #363636;

}

h1 {
  color: #161616;
  font-size: 2.5rem;
  line-height: 1;
  padding: 0rem;
}

p {
  font-size: 1rem;
  color: #929292;
}

.corpo {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  background-color: white;
}

.corpodedentro {
  width: 100%;
  margin-top: 10rem;

}


.produto {
  display: flex;
  
  border: 1px solid #3939391d;
  backdrop-filter: blur(5px);
  background: #d0d0d084;
  ;
  border-radius: 2rem;
  /* Bordas arredondadas */
  padding: 15px;
  /* Espaçamento interno */
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: center;
}


.produto p {
  margin-bottom: 5px;
  /* Espaçamento inferior para o texto */
}

.produto .preco {
  font-weight: bold;
  /* Texto em negrito para o preço */
  color: #007bff;
  /* Cor azul para o preço */

  height: 70%;
  margin-top: 1.5rem;
}

form#uploadForm {
  display: flex;
  width: 90%;
  height: 60%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}

.upload-container {
  display: flex;
  text-align: center;
  margin-top: 20px;
  width: 45%;
  height: 90%;
  align-items: center;

}

.input-file {
  display: none;
}

.file-label {
  display: flex;
  /* Usando flexbox para alinhar vertical e horizontalmente */
  align-items: center;
  /* Alinha verticalmente ao centro */
  justify-content: center;
  /* Alinha horizontalmente ao centro */
  background-color: #4e4e4e4a;
  color: #4c4c4c;
  font-size: 1.5rem;
  padding: 10px 20px;
  border-radius: 2rem;
  cursor: pointer;
  width: 90%;
  height: 80%;
  border: 2px dashed #8888883e;
  /* Define a borda pontilhada */
}

.file-label:hover {
  border-color: #007bff;
  /* Altera a cor da borda para azul quando hover */
}

.file-label.drag-over {
  border-color: #007bff;
  /* Altera a cor da borda para azul quando arrastando um arquivo */
}




.upload-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff4e;
  color: #007bff;
  padding: 0;
  /* Remover o preenchimento interno para permitir que o ícone ocupe todo o espaço */
  border-radius: 1rem;
  /* Faz o botão redondo */
  width: 6rem;
  height: 3rem;
  cursor: pointer;
  position: absolute;
  margin: 1rem;
  margin-bottom: 1rem;
  border: solid 1px #007bff;
}

.upload-button i {
  font-size: 1rem;
  /* Ajuste o tamanho do ícone conforme necessário */
  margin-left: 0.2rem;
}

.infoprod {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 90%;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.cardcompl {
  display: flex;
  width: 60%;

}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff00002e;
  color: #a90000;
  padding: 0;
  /* Remover o preenchimento interno para permitir que o ícone ocupe todo o espaço */

  /* Faz o botão redondo */
 
  cursor: pointer;
  border: solid 1px #ff0000;
}

.edit-button {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cff004e;
  color: #2fc900e2;
  padding: 0;
  /* Remover o preenchimento interno para permitir que o ícone ocupe todo o espaço */

  /* Faz o botão redondo */

  cursor: pointer;
  border: solid 1px #3cff00;
}


div.buttons {
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  margin-right: 1rem;
}

/* Estilos para feedback visual de arrastar e soltar */
.upload-container.dragover .file-label {
  background-color: #afafaf;
}

.upload-container.dragover {
  border: 2px dashed #17a3b800;
}

/* Ícone de upload */
.upload-container .fas {
  margin-right: 10px;
}

/* Adicione este código ao seu arquivo CSS */

.imagem-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  /* Espaçamento entre as imagens */
  width: 20%;
  flex-direction: row;
}

.uploaded-image {
  margin-top: 2rem;
  width: 90px;
  /* Largura das imagens */
  height: auto;
  /* Altura automática para manter a proporção */
  margin-bottom: 10rem;
  border-radius: 5px;
  /* Borda arredondada */
}

.delete-immgbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff000034;
  color: #940000;
  padding: 0;
  /* Remover o preenchimento interno para permitir que o ícone ocupe todo o espaço */
  border-radius: 50%;
  /* Faz o botão redondo */
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: solid 1px #ff0000;
  margin-left: 0.5rem;
}

.dark-mode body {
  background: #141414;
}

.dark-mode ::-webkit-scrollbar-thumb {
  background-color: #494949;
  /* cor do 'thumb' (a parte que você arrasta) */

}

.dark-mode ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
  /* cor do fundo da barra de rolagem */
}

.dark-mode .corpo {
  background-color: #191919;
}

.dark-mode .corpodedentro {
  background-color: #191919;
}

.dark-mode .card {
  border: none;
  background: #1f1f1f;
  color: #cfcfcf;
}

.dark-mode .produto {
  border: none;
  background: #1f1f1f;
  color: #cfcfcf;
}


.dark-mode .botãoprodutos {
  border: none;
  background: #1f1f1f;
  color: #cfcfcf;
}

.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode .delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff000027;
  color: #ff2f2f;
  padding: 0;

  cursor: pointer;
  border: solid 1px #ff00003c;
}

.dark-mode .edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cff001b;
  color: #78ff4fe2;
  padding: 0;
  cursor: pointer;
  border: solid 1px #3cff0041;
}

.dark-mode .modal-content {
  background: #1f1f1f;
  color: #cacaca;
}

.dark-mode .file-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  color: #666666;
  border: 2px dashed #9797973e;
}

.dark-mode-toggle label {
  margin-right: 1rem;
  display: block;
  width: 2.7em;
  /* Tamanho relativo para melhor responsividade */
  height: 1.5em;
  /* Tamanho relativo para melhor responsividade */
  background-color: #ddd;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;

}

.dark-mode-toggle label:after {
  content: "";
  display: block;
  width: 1.2em;
  /* Tamanho relativo para melhor responsividade */
  height: 1.2em;
  /* Tamanho relativo para melhor responsividade */
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.dark-mode-toggle input[type="checkbox"]:checked+label {
  background-color: #6eec07;
  box-shadow: 0 0 30px 20px #6eec074f;
}

.dark-mode-toggle input[type="checkbox"]:checked+label:after {
  transform: translateX(100%);
  /* Usando uma porcentagem para garantir uma transição completa */
}


.dark-mode .logo {
  filter: brightness(0) invert(1);
}

.dark-mode a {
  color: rgb(145, 145, 145);
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: rem;
  backdrop-filter: blur(50px);
  background-color: #181818;
}

.dark-mode .menu-icon {
  color: white;
}

.dark-mode header {
  background-color: #141414;
}

.dark-mode .product-details {
  border: 1px solid #171717;
  backdrop-filter: blur(8px);

}



.dark-mode #formulario {
  background: #1a1a1a;
  color: white;
}

.dark-mode #formulario input[type="text"],
.dark-mode #formulario input[type="number"],
.dark-mode #formulario textarea {
  background-color: #2f2f2f29;
  color: white;
}

.dark-mode #formulario input[type="submit"] {
  background-color: #6eec07;
}


.dark-mode aside {
  background-color: #151515;
}

.dark-mode .alateral {
  background-color: #151515;
}

.dark-mode h1 {
  color: #747474;
  font-size: 2rem;
  line-height: 1;
  padding: 0rem;
}

body.dark-mode {
  background-color: #191919;
}


.dark-mode .alateral:hover {
  background-color: rgb(29, 29, 29);

}

.dark-mode #formulario input[type="text"]:hover,
.dark-mode #formulario input[type="number"]:hover,
.dark-mode #formulario textarea:hover {
  border-color: #505050;
  /* Cor da borda ao passar o mouse */
}

.dark-mode .delete-immgbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff1a1a29;
  color: #ff0000;
  padding: 0;
  /* Remover o preenchimento interno para permitir que o ícone ocupe todo o espaço */
  border-radius: 50%;
  /* Faz o botão redondo */
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: solid 1px #ff000052;
  margin-left: 0.5rem;
}

.dark-mode .delete-buttondentro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff1a1a29;
  color: #ff0000;
  padding: 0;
  /* Remover o preenchimento interno para permitir que o ícone ocupe todo o espaço */
  border-radius: 50%;
  /* Faz o botão redondo */
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: solid 1px #ff000052;
  margin-left: 0.5rem;
}
