.corpo {
    margin-left: 30rem;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: flex-start;
      align-items: flex-start;
      width: 85%;
      background-color: white;
    }

.logo-container {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 7rem;
    background-color: #151515;
  }


  .verprodutos {
    width: 7rem;
    height: 3.5rem;
    border-radius: 1rem;
    background-color: #762af038;
    border: solid 1px #762af0cc;
    font-size: 2rem;
    color: #c099ff;
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .verprodutos:hover {
  
    box-shadow: 0 0 30px 5px #7f2fff69;;
  }

.corpodedentro {
    background-color: #f5f5f5;
    height: 100%;
    transition: width 0.3s ease; /* Adiciona uma transição suave */
    width: 100%;
    margin-top: 10rem;
  }

  .corpo-maior {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
  }
  
.toggle-btn {
    height: 50%;
  }
  
.toggle-btn i {
    color: #4a4a4a;
    font-size: 2rem;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease; /* Adiciona uma transição suave para a mudança de cor e rotação */
    transform: rotate(180deg); /* Mantém a mesma rotação quando o botão está ativo */
  }
  
.toggle-btn:hover i {
    color: white; /* Muda a cor para branco quando o mouse está sobre o botão */
  }
  
.toggle-btn.active i {
    transform: rotate(0deg); /* Inverte a rotação quando o botão está ativo */
    color: #4a4a4a;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 17rem;
  }
  .toggle-btn:hover i {
    color: white;
  }
  
  .card {
    width: 90%;
    height: 15rem;
    border-radius: 2rem;
    font-size: 250%;
    line-height: 1.2;
  }

  .card p {
    font-size: 60%;
  }

  .abrirprodutos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .opcoesProdutos {
    margin-left: 2rem;
    width: 10rem;
  }

  .botãoprodutos {
    margin-left: 2rem;
    border: 1px solid #3939391d;
    backdrop-filter: blur(5px);
    background: #c1c1c184;
    border-radius: 20px;
    color: #363636;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        width: 100%;
        height: 150%;
        font-size: 250%;
      }
  
  
  .produto {
    display: flex;
    border: 1px solid #3939391d;
    backdrop-filter: blur(5px);
    background: #d0d0d084;
    ;
    border-radius: 2rem;
    /* Bordas arredondadas */
    padding: 15px;
    /* Espaçamento interno */
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    align-items: center;
  }

  .lista-produtos.expandido {
    max-height: 100%;
    margin-top: 4rem;
    gap: 1rem;
   }

   /* Estilo para lista de produtos */
.lista-produtos {
    transition: max-height 0.5s ease;
    max-height: 0;
    overflow: hidden;
    margin-left: 2rem;
    margin-top: 1rem;
    gap: 1rem;
  }
   
  .nomeproduto {
    font-size: 2.5rem;
    margin-bottom: 0;
    margin-top: 0;
    height: 50%;
  }

  .produto .preco {
    font-weight: bold;
    /* Texto em negrito para o preço */
    color: #007bff;
    /* Cor azul para o preço */
    height: 70%;
    margin-top: 1.5rem;
  }

  .produto p {
    margin-bottom: 5px;
    /* Espaçamento inferior para o texto */
  }
  
  
.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff00002e;
    color: #a90000;
    padding: 0;
    cursor: pointer;
    border: solid 1px #ff0000;
  }

  .edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3cff004e;
    color: #2fc900e2;
    padding: 0;
    cursor: pointer;
    border: solid 1px #3cff00;
  }

  .modal-content {
    background: #ffffff84;
    margin: 8% auto;
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    border-radius: 2rem;
  }

  form#uploadForm {
    display: flex;
    width: 90%;
    height: 60%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .file-label {
    display: flex;
    /* Usando flexbox para alinhar vertical e horizontalmente */
    align-items: center;
    /* Alinha verticalmente ao centro */
    justify-content: center;
    /* Alinha horizontalmente ao centro */
    background-color: #4e4e4e4a;
    color: #4c4c4c;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
    width: 90%;
    height: 80%;
    border: 2px dashed #8888883e;
    /* Define a borda pontilhada */
  }
  
  .file-label:hover {
    border-color: #007bff;
    /* Altera a cor da borda para azul quando hover */
  }
  
  .file-label.drag-over {
    border-color: #007bff;
    /* Altera a cor da borda para azul quando arrastando um arquivo */
  }
  
  /* Estilos para feedback visual de arrastar e soltar */
.upload-container.dragover .file-label {
    background-color: #afafaf;
  }

  .upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff4e;
    color: #007bff;
    padding: 0;
    /* Remover o preenchimento interno para permitir que o ícone ocupe todo o espaço */
    border-radius: 1rem;
    /* Faz o botão redondo */
    width: 6rem;
    height: 3rem;
    cursor: pointer;
    position: absolute;
    margin: 1rem;
    margin-bottom: 1rem;
    border: solid 1px #007bff;
  }
  
  .upload-button i {
    font-size: 1rem;
    /* Ajuste o tamanho do ícone conforme necessário */
    margin-left: 0.2rem;
  }

  #formulario label {
    margin-bottom: 0.5rem;
  }
  
  #formulario input[type="text"],
  #formulario input[type="number"],
  #formulario textarea {
    font-size: 1.6rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.3rem;
    width: 50rem;
    /* Defina uma largura padrão de 100% */
    height: 3rem;
    border-radius: 1rem;
  }
  
  #formulario input[type="text"] {
    width: 80%;
    /* Defina a largura específica para o tipo text */
    border: solid 1px #5353534e;
  
  }
  
  #formulario input[type="number"] {
    width: 80%;
    /* Defina a largura específica para o tipo number */
    height: 3rem;
    font-size: 1.6rem;
    padding-left: 1rem;
    border: solid 1px #5353534e;
  }
  
  #formulario textarea {
    height: 100px;
    /* Defina a altura específica para o textarea */
    width: 90%;
    /* Defina a largura para ocupar a largura do container */
    padding: 0;
    font-size: 1.6rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border: solid 1px #5353534e;
  }
  
  #formulario input[type="text"]::placeholder,
  #formulario input[type="number"]::placeholder {
    text-align: center;
    /* Centraliza o texto do placeholder */
    font-size: 1.7rem;
  }
  
  #formulario textarea::placeholder {
    text-align: center;
    /* Centraliza horizontalmente */
    padding-top: calc(10% - 1em);
    /* Ajusta o padding para centralizar verticalmente */
  }
  
  #formulario input[type="text"]:hover,
  #formulario input[type="number"]:hover,
  #formulario textarea:hover {
    border-color: #b0b0b0;
    /* Cor da borda ao passar o mouse */
  }
  
  #formulario input[type="text"]:focus,
  #formulario input[type="number"]:focus,
  #formulario textarea:focus {
    border-color: #007bff;
    /* Cor da borda ao ser selecionado */
    outline: none;
    /* Remove a borda de foco padrão */
  }
  
  
#formulario {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    background-color: #ffffff84;
    justify-content: flex-start;
  }
  

  .grid-container {
    margin: 6% auto;
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 2fr));
    /* Duas colunas */
    gap: 1rem;
    justify-items: center;
  }

  .enviarform {
    color: #224e00;
    width: 28rem;
    height: 7rem;
    border-radius: 1rem;
    font-size: 2rem;
    background: #84dc3c;
    border: none;
  }

  

  
#descricao {
    grid-column: span 2;
    /* Ocupa duas colunas no grid */
    width: calc(80% - 2rem);
    /* Largura total do grid menos a lacuna */
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.3rem;
    height: 100px;
    /* Altura específica */
    font-size: 1.7rem;
  }
  
  #modalContentVer {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
  }

  /* Estilo para o botão de fechar */
.close {
    display: flex;
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    left: 116rem;
    bottom: 48rem;
    background-color: rgba(255, 255, 255, 0.313);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: space-around;
    align-items: center;
  }
  
  
  .close:hover,
  .close:focus {
    color: rgb(218, 218, 218);
    text-decoration: none;
    cursor: pointer;
  }

  
.fa-chevron-right {
    margin-left: 2rem;
    }
    
    .upload-container {
        display: flex;
        text-align: center;
        margin-top: 20px;
        width: 45%;
        height: 90%;
        align-items: center;
      
      }
      
      
      .upload-container.dragover {
        border: 2px dashed #17a3b800;
      }
      
      /* Ícone de upload */
      .upload-container .fas {
        margin-right: 10px;
      }

      img.imglist  {
        width: 10rem;
      }
      

      
.abrirprodutos {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  

  .opcoes-produtos {
    width: 100%;
  }

  .cardcompl {
    display: flex;
    width: 60%;
  
  }

  
 .infoprod {
    margin-left: 1rem;
   }
  
   
  .nomeproduto {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    height: 50%;
  }

  div.buttons {
    height: 100%;
   }