/* Estilos para o header */
.header-custom {
  display: flex;
  color: #1a1a1a; /* Cor do texto padrão para o header */
  border-bottom: solid 1px  #6a6a6a45;
  background-color: #d4d4d4;
  height: 5rem;
}

h1 {
  margin-left: 1rem ;
  color: #0f0f0f;
  font-size: 2rem;
}

.dark-mode-toggle input[type="checkbox"] {
  display: none;
}

.dark-mode-toggle label {
  margin-right: 1rem;
  display: block;
  width: 2.7em;
  height: 1.5em;
  background-color: #ddd;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
}

.dark-mode-toggle label:after {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease-in-out;
}

.dark-mode-toggle input[type="checkbox"]:checked+label {
  background-color: #6eec07;
  box-shadow: 0 0 30px 20px #6eec074f;
}

.dark-mode-toggle input[type="checkbox"]:checked+label:after {
  transform: translateX(100%);
}

.card {
  margin-left: 1rem;
  border: 1px solid #d2d2d2; /* borda com cor cinza claro */
  border-radius:1.2REM ;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* sombra suave */
  background: #bebebe;
  color: #2c2c2c;
}

.card-header {
  background-color: #9a9a9a; /* cor de fundo do cabeçalho */
  padding: 10px; /* preenchimento interno */
  border-bottom: 1px solid #979797; /* borda inferior com cor cinza claro */
  border-radius:1.2REM ;
}

.card-header:first-child {
  border-radius: 1.2rem 1.2rem 0 0;

}


/* Estilos para o navbar */
#aside {
  display: flex;
  height: 100%;
  background: #e6e6e6; /* Cor de fundo para o aside no modo escuro */
  min-height: 70%;
  overflow-y: auto; /* Adicione isso para permitir rolagem se o conteúdo for maior do que a altura da página */
}

.logo {
  width: 7rem;
}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #e6e6e6;
  height: 5rem;
  border: solid 1px #6a6a6a45;
  align-items: center;
  width: 100%;
  border-left: none;
}

.navbar {
  display: flex;
  margin-top: 3rem;
  justify-content: center;
  
/* Estilo para o link ativo */
.active {
  background-color: #007bff; /* Cor de fundo do link ativo */
}

/* Estilo para a imagem dentro do link ativo */
.active img.imgicon {
  filter: brightness(0) invert(1);
}

.active a {
  color: #ffffff;
}

/* Desativa o comportamento de hover nos li ativos */
.active:hover {
  background-color: #007bff; /* Mantém a cor de fundo do link ativo */
  cursor: default; /* Define o cursor como padrão */
}

/* Estilo para o link ativo durante o hover */
.active:hover a {
  color: #ffffff; /* Mantém a cor do texto do link ativo */
}

}

.col-md-10 {
  padding: 0px;
}

a {
  color: #535353;
  padding: 1rem;
  border-radius: 1.2rem;

}

a:HOVER {
  color: #535353;
  text-decoration: none; /* Remove o sublinhado */
}

.icon-home {
  fill: red; /* Altere "red" para a cor desejada */
}


li {
  color: #ffffff;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius:1.2REM ;
  text-decoration: none; /* Remove o sublinhado */
}

li:hover {
  background-color: #cacaca;
}

.col-md-2 {
  padding: 0%;
}

.imgicon {
  width: 1.5REM;

  /* Cor azul */

}


/* Estilos gerais */
html {
  height: 100%;
}

body {
  background: #ffffff;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.row {
  display: flex; /* Para fazer os elementos dentro da linha se comportarem como flexíveis */
  height: 100%;
}

.container-fluid {
  height: 100%;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 10px;
  /* largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
  /* cor do 'thumb' (a parte que você arrasta) */
  border-radius: 5px;
  /* borda arredondada */
}

::-webkit-scrollbar-track {
  background-color: #212121;
  /* cor do fundo da barra de rolagem */
}

/* Estilos para o modo escuro */
.dark-mode #aside {
  background: #9a9a9a27; /* Altere o fundo do modo escuro para a barra lateral conforme necessário */
  border: solid 1px #6a6a6a45;
  backdrop-filter: blur(5px);
  border-top: 0;
}

.dark-mode h1, li {
  color: #cccccc;
}

.dark-mode .logo {
  filter: invert(1); /* Exemplo de inversão de cores */
}

.dark-mode.body {
  background: #191919;
}

.dark-mode .dark-mode-aside {
  background: #1c1c1c; /* Altere o fundo do modo escuro para a barra lateral conforme necessário */
}

.dark-mode .header-custom {
  display: flex;
  background: #0f0f0f;
}

.dark-mode .logo-container {
  background: #2f2f2f;
 
  border: solid 1px #6a6a6a45;
}



.dark-mode .logo {
  filter: invert(1); /* Exemplo de inversão de cores */
}

.dark-mode li:hover {
  background-color: #454545;
}
.dark-mode a {
  color: #b3b3b3;
}

/* Estilos adicionais para quando o modo escuro estiver ativado */
.dark-mode .card {
  border-color: #555; /* borda com cor cinza mais escura */
  background-color: #333; /* cor de fundo mais escura */
  color: #fff; /* cor do texto branca */
}

.dark-mode .card-header {
  background-color: #555; /* cor de fundo do cabeçalho em modo escuro */
  border-bottom-color: #555; /* borda inferior com cor cinza mais escura */
}

/* Estilização do card quando o modo escuro estiver ativado */
.dark-mode-aside .card {
  border-color: #000; /* borda com cor preta */
}